*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 600px;
    width: 430px;
    border: 1px solid black;
    background-color: rgb(0 0 0);
    margin: auto;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.boxes{
   
    height: 70px;
    width: 75px;
    margin: 0.4rem;
    background-color: #fff;
    border: 0.5px solid black;
    font-size: 1.7rem;
    cursor: pointer;
}

.boxes:hover{
    height: 72px;
    width: 77px;
    margin: 0.4rem;
    background-color: #afafaf;
    border: 0.5px solid black;
    font-size: 1.5rem;
    cursor: pointer;

}
.output{
    width: 430px;
    height: 100px;
    background-color: #383333;
    color: #fff;
    border: 15px solid #000;
    padding: 1rem;
    font-size: 1.4rem;
    margin-top: -0.15rem;
}